In [32]:
import pandas as pd

df = pd.read_excel(r'C:\Users\Dell\Documents\GitHub\py\pandas\3_different_ways_of_creating_dataframe\weather_data.xlsx','Sheet1')

df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [1]:
#reading through dictionary

weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}

df =  pd.DataFrame(weather_data)
df

NameError: name 'pd' is not defined

In [34]:
#reading from tuples
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]


df = pd.DataFrame(data = weather_data,columns=['hehe','haha','lala','nana'])
df

       hehe  haha  lala   nana
0  1/1/2017    32     6   Rain
1  1/2/2017    35     7  Sunny
2  1/3/2017    28     2   Snow

In [36]:
#reading from list of dictionaries


weather_data  = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]

df = pd.DataFrame(data = weather_data,columns = ['day','temperature','windspeed'])
df

        day  temperature  windspeed
0  1/1/2017           32          6
1  1/2/2017           35          7
2  1/3/2017           28          2