In [9]:
import pandas as pd
india_weather = pd.DataFrame({
    "city": ["new york","chicago","banglore"],
    "temperature": [32,45,30],
    "humidity": [80, 60, 78]
})

india_weather

       city  temperature  humidity
0  new york           32        80
1   chicago           45        60
2  banglore           30        78

In [3]:

us_weather = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
    "humidity": [68, 65, 75]
})

us_weather

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [12]:
#ek trah se inner join
df = pd.merge(india_weather,us_weather,on = 'city',suffixes=['_idhr','_udhr'])
df

       city  temperature_idhr  humidity_idhr  temperature_udhr  humidity_udhr
0  new york                32             80                21             68
1   chicago                45             60                14             65

In [14]:
#ek trah se outer join
df = pd.merge(india_weather,us_weather,on = 'city',how = 'outer',suffixes=['_idhr','_udhr'])
df

       city  temperature_idhr  humidity_idhr  temperature_udhr  humidity_udhr
0  new york              32.0           80.0              21.0           68.0
1   chicago              45.0           60.0              14.0           65.0
2  banglore              30.0           78.0               NaN            NaN
3   orlando               NaN            NaN              35.0           75.0

In [15]:
#ek trah se left outer join
df = pd.merge(india_weather,us_weather,on = 'city',how = 'left',suffixes=['_idhr','_udhr'])
df

       city  temperature_idhr  humidity_idhr  temperature_udhr  humidity_udhr
0  new york                32             80              21.0           68.0
1   chicago                45             60              14.0           65.0
2  banglore                30             78               NaN            NaN